//
//  Config.xcconfig
//  MovieExplorer
//
//  Created by Diab on 1/09/2025.
//


SLASH = /

API_BASE_URL = https:$(SLASH)/api.themoviedb.org/
API_Key = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiNWYxM2Q3ZTg5YTAwOWIxYzQ2YWU0MWZmOTA4Nzc3NSIsIm5iZiI6MTc1NjYzNTc0OC45NjIsInN1YiI6IjY4YjQyMjY0YTU1ZGIyNzllYjNjY2RlMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.X1pcOmVvlv6WK8T6WN3_35rgicsKqux7Gp7Z85KdSM0


IMAGE_BASE_URL = https:$(SLASH)/image.tmdb.org/t/p/w500


